
body, h1, h2, h3, p, ul, li {
    margin: 10;
    padding: 10;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    align-items: right;
}
h1 {
    text-align: center;
justify-content: space-around;
}

.contact-info h1 {
    text-align: left;
}
p {
    text-align: left;
    font-weight: bold;

}

nav {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


#profile-pic {
    text-align: center;
}

#profile-pic a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

#profile-pic img {
    max-width: 150px; 
    
}

#profile-pic .container {
    display: inline-blockblock;
    height: 200px;
    border-radius: 20px;
}



#about img {
    max-width: 300px; 
    height: 100; 
    margin-right: 10px; 
    display: inline;
}

#about .container {
    display: inline-flex;
    height: 400px;
    border-radius: 20px;
}

#work {
    text-align: center;
}

.container {

    display: flex;
   height: 150px;
    align-items: center;
    justify-content: space-between;
  }

  .box {
    background-color: whitesmoke;
    border: 1px solid white;
    width: 100px;
    height: 100px;
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
  }

  .contact-info {
    font-size: 18px;
    margin: 20px;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    text-decoration: none;
    color: rgb(15, 23, 26);
}
  

@media screen and (max-width: 768px) {
    section {
        margin: 10px;
    }

    #abo img {
        max-width: 80px;
    }

    #work img {
        max-width: 150px;
    }

    #work img:first-child {
        max-width: 200px;
    }
}

@media screen and (max-width: 480px) {
    nav ul {
        text-align: center;
        padding-top: 10px;
    }

    nav li {
        display: block;
        margin: 5px 0;
    }
}